body {
    background-color: #2d2d2d;
    color: #eee;    
}

.container {
    display: flex; 
    flex-direction: column;
    height: 100%;
    min-height: 1000px;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: stretch;
}

.views {
    flex: 2;
    display: flex;
    flex-direction: row;    
    align-items: stretch;
    justify-content: space-evenly;
    align-content: stretch;
}

.tools {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.dim2 {
    flex: 1;    
    border: 1px solid black;       
}
.dim3 {
    flex: 1;
    border: 1px solid black;        
}

.views canvas {
    margin: 0;
    padding: 0;  
    display: block;
    width: 100%;
    height: 100%;
}