html, body {
    background-color: #2d2d2d;
    color: #eee;  
    margin: 0;
    width: 100%;
    height: 100%; 
}

.widget {
    border: 1px solid black;
}

.container {
    display: flex; 
    flex-direction: column;    
    height: 95%;
    /* align-items: stretch;
    justify-content: space-evenly;
    align-content: stretch;     */
}

.views {
    flex: 2;
    display: flex;
    flex-direction: row;    
    /* align-items: stretch;
    justify-content: space-evenly;
    align-content: stretch;      */
}

.tools {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.dim2 {
    flex: 1;   
    /* overflow: scroll; */
}
.dim3 {
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.views .dim3 canvas {
    margin: 0;
    padding: 0;  
    display: block;
    width: 100%;
}
.views .dim2 canvas {    
    margin: 0;
    padding: 0;  
    display: block;    
    width: 100%;
    /* height: 100%; */
}

#geometry-selection {
    flex: 2;    
}
#geometry-editor {
    flex: 4;    
}
#texture-library {
    flex: 1;
}
#stats {
    flex: 1;
}